*{
    margin:0;
    padding:0;
    
}
body{
    font-family: arial;
    background-color: rgb(44, 95, 236);
    color: blanchedalmond;
}
h1{
    color:white;
    font: size 50px;
}
.fotoportada{
    display: flex;
    justify-content: center;
    width: 0 20px;
    height: auto;
}
.caja{ 
    width: 45%;
    padding: 1rem;
    display: block;
    border: 1px solid#999;
    box-sizing: border-box;
    text-align: center;
}
footer .titulo-seccion{
   color:white
}
.redes-socilales{
    display: flex;
    justify-content: center;
}
