*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(12, 34, 238);
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}
.imaguendeperfil{
    
}
h2{
    background-color: royalblue;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    text-align: center;
}
.parrafo1{
    text-align: center;
}
.parrafo2{
    text-align: center;
}
.sizecarousel{
    width: 500px;
    margin: auto;
}
ul {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;list-style-position:inside;
    font-size: 20px;
    margin: 30px;
    padding: 30px;
}
table{
    background-color: rgb(90, 85, 85);
    font-size: 20px;
    margin: 20px;
    padding: 20px;
}
form{
    margin: 20px;
    background-color: #6569586c;
    font-family: cursive;
    }
main{ 
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    background-color:rgb(2, 10, 75);
    height: 300px;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center
}
.color{
    width: 200px;
    height: 100px;
    margin: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    padding-top: 60px;
}
.verde:hover{
    background: linear-gradient(to top, green, #fff, green);
    transform: scale(1.5, 1.5);
    color: #000; 

}
.rojo:hover{
    background: linear-gradient(to top, red, #fff,red);
    transform: scale(1.5, 1.5);
    color: #000; 
} 
.blanco:hover{
        background: linear-gradient(to top, red, #fff,red);
        transform: scale(1.5, 1.5);
        color: #000; 
}
.azul:hover{
    background:radial-gradient(circle, blue,#fff,blue);
    transform: scale(1.5, 1.5);
    color: #000; 
}
.celeste:hover{
    background:radial-gradient(circle, rgb(0, 255, 242),#fff,rgb(39, 221, 238));
    transform: scale(1.5, 1.5);
    color: #000; 
}
.bordo:hover{
    background-color: rgb(247, 132, 132);
    transform: scale(1.5, 1.5);
    color: #000; 
}
